@import ".//animationH1.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;

  /* cores */
  --background-size: unquote("min(100vw, 40em)");

  --tt-hading: #0c3440;

  --tt-label: #048872;

  --tt-input: #212529;
  --ot-input: #02799d;
  --bd-input: rgba (73, 80, 87, 0.3);
  --bg-input: #dce2e9;

  --tt-placeholder: rgba(73, 80, 87, 0.5);

  --tt-button: White;
  --bg-button: #02799d;
  --bg-button-hover: #044e65;

  --bg-error: #f03e3e;
  --tt-error: white;
}

body {
  font-family: "roboto", sans-serif;
  background: #010316;
  font-size: 1.6rem;
}
.container {
  height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  position: relative;
  margin-top: 8rem;
  background: rgb(19, 18, 18);
  padding: 4.8rem 5.4rem 6.4rem;
  max-width: 42.8rem;
  margin-inline: auto;

  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 1);
  border-radius: 0.6rem;
}

.title {
  font-size: 3.2rem;
  line-height: 4rem;
  text-align: center;
}

form {
  width: 30rem;
}
form h1 {
  margin-bottom: 3.2rem;
}

form label {
  display: block;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 0.8rem;
  color: var(--tt-label);
}

form input {
  width: 100%;
  border: 1px solid var(--bd-input);
  background: var(--bg-input);
  padding: 1.6rem;
  border-radius: 0.4rem;
}
form input :focus {
  outline: 2px solid var(--ot-input);
}
.input-wrapper + .input-wrapper {
  margin-top: 1.6rem;
}

body,
input,
button {
  font-size: 1.6rem;
}

form button {
  color: var(--tt-button);
  margin-top: 3.2rem;
  padding: 1.6rem;
  width: 100%;
  border: none;
  background: var(--bg-button);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
  transition: background 0.3s;
}

form button:hover {
  background-color: var(--bg-button-hover);
}

@media (max-width: 800px) {
  .card {
    position: relative;

    padding: 2.6rem 3.2rem 4.2rem;
    max-width: 38.8rem;
    margin-inline: auto;
  }
  .container {
    height: 80vh;
  }
}

/*MODAL*/
.modal {
  background: #dce2e9;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);

  display: grid;
  place-content: center;

  opacity: 0;
  visibility: hidden;
}
.modal {
  position: relative;
}

.modal button {
  background: none;
  border: none;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  cursor: pointer;
  transition: transform 0.3s;
}
.modal button:hover {
  transform: scale(1.1);
}

.alert-error.open {
  opacity: 1;
  visibility: visible;
}

.alert-error {
  position: absolute;

  background-color: var(--bg-error);
  color: var(--tt-error);

  top: 0;
  left: 0;
  right: 0;
  padding: 0.8rem 0;

  font-weight: bold;

  transform: translateY(-30px);
  transition: transform 0.5s;

  opacity: 0;
  visibility: hidden;
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
  border-radius: 0.7rem;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.card:after {
  filter: blur(50px);
}
